#Google側の認証ページへの遷移
https://accounts.google.com/o/oauth2/auth?client_id=11274364654%2dbp711h4705fdut2v1ffug5p028eqtu77%2eapps%2egoogleusercontent%2ecom%0a&redirect_uri=http%3a%2f%2flocalhost%3a32772%2fupload&scope=https%3a%2f%2fwww%2egoogleapis%2ecom%2fauth%2fyoutube%2eupload&response_type=code

<form action="/upload" method="POST">
  <input type="file" name="upload_file">
  <input type="submit" value="アップロード">
</form>