  * {
    margin: 0;
    padding: 0;
  }

  nav {
    height: 50px;
    width: 100%;
    background-color: #333;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-right{
    position: absolute;
    top: 0;
    right: 10px;
  }

  .left-button{
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: 0.2em;
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: #ffffff;
  }

  .right-button{
    margin-top: 0.2em;
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: #ffffff;
  }

	.first-view {
	  height: 80vh;
    width: 100%;
    padding-top: 30vh;
    background-image: url("image/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .first-view h1{
    color: #000;
    font-size: 68px;
    margin-left: 65vw;
    margin-top: 8vh;
    font-family: Arial;
    font-style: italic;
  }

  .first-view p{
    font-size: 24px;
    margin-left: 72vw;
    margin-top: 2vh;
    font-family: Arial;
    font-style: italic;
  }

  .post-wrapper{
    width: 984px;
    margin: 10px auto;
  }

  .post {
    margin: 10px 3px;
    width: 240px;
    float: left;
   }

   .post-main{
     font-size: 18px;
     font-family: helvetica;
     margin-top: 3px;
   }

   .post-comment{
      font-size: 15px;
      color: #666;
   }

  .center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: -webkit-pictograph;
  }

  .center-hrizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .user {
    background-image: url("image/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .form-wrapper {
    background-color: rgba(255,255,255,0.7);
    width: 300px;
    height: 400px;
    margin-top: 100px;
    border-radius: 4px;
  }

  .form-wrapper h1{
    text-align: center;
    margin-top: 30px;
  }

  .form-text{
    width: 260px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .form-text input{
    background-color: rgba(255,255,255,0);
    border: none;
    border-bottom: 2px solid #333;
    color: #666;
    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
    height: 50px;
    width: 100%;
    margin-top: 55px;
    outline: 0;
  }
  .form-submit{
    width: 200px;
    margin: 0 auto;
  }

  .form-submit input{
    background: #333;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 60px;
    height: 50px;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .search h1{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .new h1{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
  }